#login-page {
  background-image: url("/static/images/doctor.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}

.container{
  height: 97vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 30%;
}


#login-username{
 border:none;
 background: none;
 border-bottom: 1px solid white;
 width: 350px;
 padding: 10px 5px;

}

#login-password{
    border:none;
    background: none;
    border-bottom: 1px solid white;
    /* margin-top: 12px; */
    width: 350px;
    margin-top: 45px;
    padding: 10px 5px;
}
#login-checkbox{
    margin-top: 33px;
 }

.r-checkbox{
  display: inline
}
.forget-text{
  padding-left: 120px;
}

 
#login-button{
  display: block;
  margin: 30px auto 50px;
  padding: 10px;
  width:120px;
  font-weight: bold;
  background-color: blue;
  border: none;
  color: white;
  font-size: medium;
}

#remember-me {
  margin: 15px 0;
}

#login-head {
  margin: 15px;
}

#login-head p {
  color: grey;
}


#covid-warriors {
  margin-top: 80px;
}
#covid-warriors p{
  margin: auto;
  text-align: center;
  line-height: 30px;
  font-size: x-large;
  color: gray;
}
#covid-warriors p b {
  color: rgb(49, 48, 48);
}

#powered-by-text {
  color: gray;
  position: fixed;
  bottom: 10px;
}