{% extends 'base.html' %}
{% block content %}
    <h2>Logged in as {{user.firstname}} {{user.lastname}}  </h2>
        <!-- Messages -->
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <!-- Form -->

        <form action="{% url 'AddPatient' %}" method="POST">
            {% csrf_token %}
                {{form}}
            <button type="submit">Add Patient</button>
        </form>


        {% for x in patients %}
            <p>{{x.patient.firstname}} {{x.patient.lastname}}   {{x.patient.sex}}  {{x.patient.dateAdmitted|date:"d/m/Y"}} {{x.patient.criticallity}}</p>
        {% endfor %}


    <a href=" {% url 'logout_view' %} "> Logout </a>
{% endblock %}