{% extends 'base.html' %}
{% block content %}
    <h2>Logged in as {{user.firstname}} {{user.lastname}}  </h2>
        <!-- Messages -->
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <!-- Form -->

        <form action="{% url 'AddPatient' %}" method="POST">
            {% csrf_token %}
                {{AddPatientForm.doctor.as_hidden}}
                <!-- NEW PATIENT REGISTRATION -->
                <hr>
                name : {{AddPatientForm.name}} <br>
                age : {{AddPatientForm.age}}<br>
                Sex : {{AddPatientForm.sex}}<br>
                DOB:  {{AddPatientForm.dob}}<br>
                adhaar : {{AddPatientForm.adhaar}}<br>
                address : {{AddPatientForm.address}}<br>
                personal mobile no : {{AddPatientForm.personal_mobile_no}}<br>
                bystander_mobile_no: {{AddPatientForm.bystander_mobile_no}}<br>
                dateAdmitted :{{AddPatientForm.dateAdmitted}}<br>
                criticallity:{{AddPatientForm.criticallity}}<br>
                <h3>RT-PCR DETAILS</h3>
                swab_taken:{{AddPatientForm.swab_taken}}<br>
                hrct_taken:{{AddPatientForm.hrct_taken}}<br>
                lab_name_with_address:{{AddPatientForm.lab_name_with_address}}<br>
                date_of_test:{{AddPatientForm.date_of_test}}<br>
                positive_or_negative:{{AddPatientForm.positive_or_negative}}<br>
                sr_id:{{AddPatientForm.sr_id}}<br>
                icmr_id:{{AddPatientForm.icmr_id}}<br>
                ct_thorax_taken:{{AddPatientForm.ct_thorax_taken}}<br>
                ct_thorax_date:{{AddPatientForm.ct_thorax_date}} <br>
                <br><br>
                <hr>
                <h3>PATIENT CASE SHEET</h3>
                {{PatientSymptomsForm.as_p}}
                <h3>SIGNS</h3>
                {{PatientSignsForm.as_p}}
                <hr>
                <h3>Past history</h3>
                {{PatientPastHistoryForm.as_p}}
                <hr>
                <h3>General Examination</h3>
                {{PatientExaminationForm.as_p}}
                <!-- {% for choice in PatientExaminationForm.respiratory_system %}
                    {{choice.choice_label}}
                    <span style="margin-right: 300px;"> {{choice.tag}}</span>
                {% endfor %}
                <br>
                {{PatientExaminationForm.respiratory_normal}} -->
                <hr>
                <h3>Differential diagnosis</h3>
                {{PatientDifferentialDiagnosisForm.as_p}}
                <hr>
                <h3> HEalth facalities </h3>
                <input type="text" name="facalityname1" class="">
                <input type="date" name="date1" class="">
                <textarea name="treatment1" class="" cols="20" rows="5"></textarea>
                <textarea name="remark1" class="" cols="20" rows="5"></textarea>
                    <br>
                <input type="text" name="facalityname2" class="">
                <input type="date" name="date2" class="">
                <textarea name="treatment2" class="" cols="20" rows="5"></textarea>
                <textarea name="remark2" class="" cols="20" rows="5"></textarea>
                    <br>
                <input type="text" name="facalityname3" class="">
                <input type="date" name="date3" class="">
                <textarea name="treatment3" class="" cols="20" rows="5"></textarea>
                <textarea name="remark3" class="" cols="20" rows="5"></textarea>
                    <br>
                <input type="text" name="facalityname4" class="">
                <input type="date" name="date4" class="">
                <textarea name="treatment4" class="" cols="20" rows="5"></textarea>
                <textarea name="remark4" class="" cols="20" rows="5"></textarea>
                    <br>
                <hr>
                <h3> Microbiology </h3>
                {{PatientMicrobiologyForm.as_p}}

            <button type="submit">Add Patient</button>
        </form>
        <br><br>
        {% for x in patients %}
            {{ x.name }} <br>
        {% endfor %}
        <br><br>


        


    <a href=" {% url 'logout_view' %} "> Logout </a>
{% endblock %}