{% extends 'base.html' %}
{% block content %}
    <h2>Logged in as {{user.firstname}} {{user.lastname}}  </h2>
        <!-- Messages -->
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <!-- Form -->

        <form action="{% url 'AddPatient' %}" method="POST">
            {% csrf_token %}
                {{AddPatientForm.doctor.as_hidden}}
                {{AddPatientForm.name}}
                {{AddPatientForm.age}}
                {{AddPatientForm.sex}}
                {{AddPatientForm.dob}}
                {{AddPatientForm.adhaar}}
                {{AddPatientForm.address}}
                {{AddPatientForm.personal_mobile_no}}
                {{AddPatientForm.bystander_mobile_no}}
                {{AddPatientForm.dateAdmitted}}
                {{AddPatientForm.criticallity}}
                {{AddPatientForm.swab_taken}}
                {{AddPatientForm.hrct_taken}}
                {{AddPatientForm.lab_name_with_address}}
                {{AddPatientForm.date_of_test}}
                {{AddPatientForm.positive_or_negative}}
                {{AddPatientForm.sr_id}}
                {{AddPatientForm.icmr_id}}
                {{AddPatientForm.ct_thorax_taken}}
                {{AddPatientForm.ct_thorax_date}} <br><br>
            <button type="submit">Add Patient</button>
        </form>


        


    <a href=" {% url 'logout_view' %} "> Logout </a>
{% endblock %}